[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
sqlalchemy-stubs = "*"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
sqlalchemy = "*"
bcrypt = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[requires]
python_version = "3.7"
